/* Header component */
.Header {
	display: flex;
	align-items: center;
	background: #519872;
	color: white;
}

.Header img {
	margin: 0 1% 0 5%;
	height: 6vh;
}

.Header .title {
	margin-right: 5vw;
}


/* Dashboard component */

.dashboardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 60vw;
	padding: 2rem;
	border-bottom: 1px black solid;
}

.addNewProp {
	background: #8AEA92;
	height: 4rem;
	width: 12rem;
	border-radius: 15px;
	font-size: 1.2rem;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.container h2 {
	margin-left: 3rem;
}



/* House component */

.propertiesList {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	background: #DEDEDE;
}

.propertiesList button {
	align-self: flex-start;
	margin-top: 1rem;
	margin-left: 2rem;
}

.propertiesList ul li {
	margin-bottom: .5rem;
}

.propertiesList ul li img {
	width: 200px;
	height: 200px;
}

.propertiesList button, .propertiesList li {
	list-style-type: none;
}

.deleteBtn {
	background: #FEC2C2;
	font-weight: bold;
	border-radius: 15px;
	height: 6vh;
	width: 3vw;
}

/* Wizard components */

.container {
	background-color: #E5F4EC;
	width: 160vh;
	height: 100%;
	margin: 0 auto;
}

.wizardHeader {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.insideContainer {
	
	width: 100vh;
	height: 100%;
	margin: 0 auto;
}

.address, .image_url, .monthly {
	display: flex;
	flex-direction: column;
}

.cityStateZip {
	display: flex;
	justify-content: space-between;
}

.wizardLink {
	display: flex;
	justify-content: flex-end;
	margin: 2rem;
}

.wizardPrvNext {
	display: flex;
	justify-content: space-between;
	margin: 3rem;
}

.nextBtn, .prevBtn {
	background: #3B5249;
	font-weight: bold;
	border-radius: 15px;
	height: 8vh;
	width: 12vw;
	color: whitesmoke;
	text-decoration: none;
}

.cancelBtn {
	background: #FEC2C2;
	font-weight: bold;
	border-radius: 15px;
	height: 6vh;
	width: 7vw;
}

.center {
	text-align: center;
}

