/* Header component */
.Header {
	display: flex;
	align-items: center;
	background: #519872;
	color: white;
}

.Header img {
	margin: 0 1% 0 5%;
	height: 6vh;
}

.Header .title {
	margin-right: 5vw;
}


/* Wizard */

.container {
	background-color: #E5F4EC;
	width: 130vh;
	height: 100%;
	/* display: flex;
	align-items: center;
	flex-direction: column; */
	margin: 0 auto;
}

.wizardHeader {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.insideContainer {
	
	width: 100vh;
	height: 100%;
	margin: 0 auto;
}

.address, .image_url, .monthly {
	display: flex;
	flex-direction: column;
}

.cityStateZip {
	display: flex;
	justify-content: space-between;
}

.wizardLink {
	display: flex;
	justify-content: flex-end;
	margin: 2rem;
}

.wizardPrvNext {
	display: flex;
	justify-content: space-between;
	margin: 3rem;
}

.nextBtn, .prevBtn {
	background: #3B5249;
	font-weight: bold;
	border-radius: 15px;
	height: 8vh;
	width: 12vw;
}

.nextStep, .prevStep {
	color: whitesmoke;
	text-decoration: none;
}

.cancelBtn {
	background: #FEC2C2;
	font-weight: bold;
	border-radius: 15px;
	height: 6vh;
	width: 7vw;
}

